write-kubeconfig-mode: "0644"
bind-address: "0.0.0.0"
https-listen-port: 7443
tls-san:
  - "{{ ansible_host }}"
flannel-backend: "none"
disable-network-policy: true
disable:
  - traefik
disable-kube-proxy: true
